.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  /* grid-template-rows: 1fr 2fr; */
  /* grid-template-columns: 1fr; */
}

.Buttons {
  /* margin: auto auto; */
  /* outline: none; */
  border: 3px solid rgb(129, 129, 129);
  border-radius: 10px;
}

/* .Buttons button,
div {
  border: none;
  outline: none;
} */

/* .Buttons button:hover {
  background-color: rgb(131, 131, 131);
} */

.Header {
  display: block;
  margin: auto auto;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: rgb(43, 43, 43);
}
