.Box {
  position: relative;
  width: max-content;
  height: max-content;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  /* z-index: 2; */
  /* background-color: white; */
}

.Label {
  position: absolute;
  width: 100px;
  top: -12px;
  font-size: 100%;
  right: calc(50% - 50px);
  background-color: rgba(255, 255, 255, 1);
}

.Button {
  position: absolute;
  top: 2px;
  right: 2px;
  border: none;
  background-color: transparent;
}
