.LandingPage {
  width: 100vw;
  min-height: 100vh;
  /* overflow-x: hidden; */
  height: max-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(255, 250, 247); */
  /* background-color: rgb(247, 240, 240); */

  /* background-image: linear-gradient(
    0deg,
    rgb(238, 62, 194),
    10%,
    rgb(255, 255, 255)
  ); */
  z-index: -1;
}

.Marketing {
  width: 100%;
  min-height: calc(100vh - 56px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: "Raleway", sans-serif;
  padding: 20px;
}

.Par {
  /* padding: 10px; */
  max-width: 90vw;
  margin-top: 90px;
  margin-bottom: 30px;
}

.Par h1 {
  font-size: 260%;
  font-weight: 800;
  color: rgb(68, 3, 129);
}

.Par p {
  z-index: 1;
  position: relative;
}

.Stopwatch {
  animation: ticking 1s linear 0s infinite both;
}

.Flower {
  animation: growing 3s linear 1s infinite both;
}

@keyframes ticking {
  0% {
    transform: rotateZ(0deg) translate(6px, -8px);
  }
  12% {
    transform: rotateZ(-15deg) translate(6px, -7px);
  }
  38% {
    transform: rotateZ(-15deg) translate(6px, -7px);
  }
  50% {
    transform: rotateZ(0deg) translate(6px, -7px);
  }
  62% {
    transform: rotateZ(15deg) translate(6px, -8px);
  }
  88% {
    transform: rotateZ(15deg) translate(6px, -8px);
  }
  100% {
    transform: rotateZ(0deg) translate(6px, -8px);
  }
}

@keyframes growing {
  0% {
    transform: scale(0.8) translate(10px, -2px);
    opacity: 0;
  }
  17% {
    transform: scale(1.2) translate(10px, -2px);
    opacity: 1;
  }
  34% {
    transform: scale(1.2) translate(10px, -2px);
    opacity: 1;
  }
  51% {
    transform: scale(1.4) translate(10px, -2px);
    opacity: 1;
  }
  68% {
    transform: scale(1.4) translate(10px, -2px);
    opacity: 1;
  }
  85% {
    transform: scale(1.6) translate(10px, -2px);
    opacity: 0.3;
  }
  100% {
    transform: scale(1.8) translate(10px, -2px);
    opacity: 0;
  }
}

.LeftPic {
  /* margin-top: 40px; */
  width: max-content;
  height: max-content;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -80px 100px 30px 0px rgba(168, 21, 132, 0.5);
  transform: translateX(-180px) translateY(-20px) rotateX(40deg) rotateY(-45deg)
    skew(8deg, 35deg);
  z-index: -1;
}
.RightPic {
  width: max-content;
  height: max-content;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 100px 120px 20px 0px rgba(132, 15, 143, 0.5);
  transform: translateX(20px) translateY(35px) rotateZ(30deg) rotateY(45deg)
    skew(40deg, -33deg);
  z-index: -1;
  transition: transform 0.1s ease-in;
}

@media (max-width: 499px) {
  .Marketing {
    padding: 5px;
  }
  .Par {
    margin: 40px 0px;
    max-width: 90vw;
  }

  .LeftPic {
    transform: translateX(-10px) translateY(-60px) rotateX(40deg)
      rotateY(-45deg) skew(8deg, 35deg);
    box-shadow: -70px 60px 30px -10px rgba(148, 17, 89, 0.384);
  }
  .RightPic {
    box-shadow: 60px 70px 20px 0px rgba(71, 14, 104, 0.384);
    transform: translateX(30px) translateY(15px) rotateZ(30deg) rotateY(45deg)
      skew(40deg, -33deg);
    margin-bottom: 60px;
  }
}
