.DataPanel {
  width: 100vw;
  height: max-content;
  min-height: 400px;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 7fr;
  z-index: 0;
}

.Main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.Chart {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 3fr;
  transition: transform 0.3s;
}

@media (max-width: 499px) {
  .main {
    flex-direction: column;
  }

  .DataPanel {
    padding: 2px;
    height: calc(100vh - 56px);
  }

  .Chart {
    grid-template-columns: 1fr 0.3fr 3fr;
  }
}
