.TrackerSelector {
  width: 180px;
  min-height: 300px;
  max-height: max-content;
  margin: 0px 5px;
  padding: 10px;
  overflow-y: hidden;
  border: 1px solid grey;
  background-color: white;
  border-radius: 20px;
}

@media (max-width: 499px) {
  .TrackerSelector {
    min-height: unset;
    max-height: unset;
    height: 260px;
    overflow-y: scroll;
  }
}
