.Container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Modal {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 4px solid grey;
  border-radius: 20px;
  padding: 7px;
  align-items: flex-start;
  overflow-y: scroll;
}

.Field {
  display: flex;
  flex-direction: column;
}

.Backdrop {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Header {
  width: 330px;
  height: 60px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.HeaderType {
  margin-left: 8px;
  font-size: 110%;
  margin-bottom: 0px;
}

.Pen {
  position: absolute;
  bottom: -2px;
  right: -5px;
  border: none;
  background-color: transparent;
  outline: none;
}

.Header h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}
.Header h1 small {
  font-size: 70%;
}

.Color {
  width: max-content;
  height: max-content;
  padding: 4px;
}

.Description {
  position: relative;
  padding: 4px;
  width: 300px;
  height: 120px;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

.Description h4 {
  font-weight: 200;
}

.StepSize {
  position: relative;
  width: 140px;
  height: 80px;
  display: flex;
  flex-direction: column;
}

.ButtonPanel {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ButtonPanel button {
  border-radius: 6px;
  width: 160px;
  height: 45px;
  padding: 4px 10px;
  /* background-color: transparent; */
  font-size: 120%;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin: 4px;
  border: none;
  transition: background-color 0.2s;
}

.EntriesButton {
  background-color: rgb(131, 23, 134);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.EntriesButton svg {
  margin-right: 10px;
  margin-left: 5px;
}

.EntriesButton:hover {
  background-color: rgb(151, 35, 155);
}

.DeleteButton {
  background-color: red;
  color: white;
}
.DeleteButton:hover {
  background-color: rgb(255, 55, 55);
}

@media (max-width: 499px) {
  .Header {
    width: 100%;
  }
  .Description {
    width: 100%;
  }
}
