body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Raleway", sans-serif;
}

html,
body,
#root,
#app,
#app > div {
  margin: 0;
  width: 100vw;
}

@media (max-width: 499px) {
  html,
  body,
  #root,
  #app,
  #app > div {
  }
}
